.KitPage {
  $heading = 38px
  $headingMarginBottom = 12px
  max-width 1024px
  margin 0 auto

  h1 {
    margin-bottom $headingMarginBottom
    font-size $heading
  }

  h2 {
    margin-bottom $headingMarginBottom * 0.7
    font-size $heading * 0.7
  }

  h3 {
    margin-bottom $headingMarginBottom * 0.5
    font-size $heading * 0.5
  }

  section {
    position relative
    margin-bottom 70px
    padding 16px
    background-color #fff
    border-radius 8px
    box-shadow 1px 1px 3px #0000000f
  }
}

:global(html.kit-page), :global(html.kit-page body) {
  background-color #fbfbfb
}