FRONTEND_NETWORK_NAME=ngproxy
BACKEND_NETWORK_NAME=applications-network
COMPOSE_PROJECT_NAME=nextjs.test.chulakov.ru
NEXT_TELEMETRY_DISABLED=1
API_URL=
ASSET_PREFIX=""
EMAIL_QA=eduard.veykum@chulakov.ru
