{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage",
          "corejs": 3
        },
        "transform-runtime": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": [
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": {
                "attrs": "(data-name)"
              }
            },
            {
              "cleanupIDs": false
            }
          ]
        }
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components",
          "config": "./config",
          "containers": "./containers",
          "pages": "./pages",
          "store": "./store",
          "lib": "./lib",
          "locales": "./locales",
          "utils": "./utils",
          "static": "./static",
          "@router": "./utils/router/src"
        }
      }
    ]
  ]
}