.KitPage {
  $heading = 38px
  $headingMarginBottom = 12px
  max-width 1024px
  margin 0 auto

  h1 {
    font-size $heading
    margin-bottom $headingMarginBottom
  }

  h2 {
    font-size $heading * .7
    margin-bottom $headingMarginBottom * .7
  }

  h3 {
    font-size $heading * .5
    margin-bottom $headingMarginBottom * .5
  }

  section {
    margin-bottom 70px
    border-radius 8px
    padding 16px
    background-color #fff
    box-shadow 1px 1px 3px #0000000f
  }
}

body.kit-page {
  background-color #fbfbfb
}